html{
  scroll-behavior: smooth;
}
:root {
	--main-font: "Source Sans Pro", sans-serif;
	--secondary-font: "Poiret One", cursive;
	--body-font: "Cabin", sans-serif;
	--headings-font: "Herr Von Muellerhoff", cursive;
  --font:'Allura', cursive;
  --color:#81c644;
	--main-font-color-dark: #252525;
	--secondary-font-color: #e1b164;
	--body-font-color: #515151;
	--white-color: #fff;
	--dark-bg: #121212;
  --custom-color:#7d2ae8;
  --cta-gradient1: hsl(13, 100%, 72%);
  --cta-gradient2: hsl(353, 100%, 62%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #00000033;
  background-blend-mode:overlay;
}
#mobile-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000033;
}
.mobile-nav .main-nav {
  background-color: white;
  width: 75vw;
  height: 100%;
}
/* Scroll top */
.scroll-top{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background:#007bff;
  border-radius: .4rem;
  transition: .4s;
  visibility: hidden;
}
.scroll-top__icon{
  font-size: 1.5rem;
  color: var(--white-color);
}

.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}
#preloader-bg{
  position: fixed;
  z-index: 9999999;
  background: var(	--white-color);
  width: 100%;
  height: 100%;
}
.loader{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader::before, .loader::after{
  content:'' ;
border: 1em solid var(--secondary-font-color);
border-radius: 50%;
width: inherit;
height: inherit;
position: absolute;
top: 0;
left: 0;
animation: loader 2s linear infinite;
opacity: 0;
}
.loader::before{
  animation-delay:.5s ;
}
@keyframes loader{
0%{
  transform: scale(0);
  opacity: 0;
}
50%{
  opacity: 1;
}
100%{
  transform: scale(1);
  opacity: 0;
}
}
section{
  padding: auto;
  overflow: auto;
  max-width: 1300px;
}
.h-3{
  font-family: var(--body-font);
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 15px;
}
.h-4{
  font-family: var(--body-font);
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 15px;
}
.h-5{
  font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 300;
    margin: 15px;
}
.para{
  text-align: center;
  font-family:var(--secondary-font) ;
    font-size: 17px;
    margin: 5px;
}
/* HEADER */
header{
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--body-font-color);
  background-blend-mode:overlay;
line-height: 1.7;
margin-bottom: 1rem;
animation: aminate  linear infinite;
animation-delay: 2s;
overflow: hidden;
animation-duration: 20s;
}
@keyframes aminate{
  0%,100%{
    background-image: url(../img/hero-bg.jpg);
  }
  75%{
    background-image: url(../img/drone.jpg);
  }
  50%{
    background-image: url(../img/hero-bg-2.jpg);
  }
  25%{
    background-image: url(../img/hero-bg\ \(3\).jpg);
  }
}
.container{
  margin: 20px;
  max-width: 600px;
}
.container h1{
  font-family: var(--main-font);
  color: var(	--white-color);
  font-size: 2rem;
  font-weight: 400;
  margin: 15px;
}
.container p{
  font-family:var(--secondary-font) ;
  font-size: 18px;
  color: var(--white-color);
}
.form{
  background-color: var(	--white-color);
  padding: 20px;
  border-radius: 25px;
  margin: 10px;
  text-align: center;
}
.select{
  border: none;
  margin:  7px;
  font-size: 16px;
  font-family:var(--secondary-font) ;
  text-transform: capitalize;
  height: 20px;
  outline: none;
}
.search-btn{
  height: 40px;
  width: 90px;
  background: linear-gradient(var(--cta-gradient1), var(--cta-gradient2));
color: var(--white-color);
  border: none;
  border-radius: 25px;
  text-transform: capitalize;
  margin: 5px;
  font-family:var(--secondary-font) ;
  font-size: 16px;
  cursor: pointer;
}
.search-btn:hover{
  background: linear-gradient(var(--cta-gradient2), var(--cta-gradient1));
  transition: 2s;
}


/*Testimonial section*/
.wrapper h1{
  font-family: var(--font);
  font-size: 35px;
  margin-bottom: 70px;
  text-align: center;
}
.team_member i{
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
}
.team{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: auto;
  flex-wrap: wrap;
}
.team_member i{
  color: orange;
}
.team_member i:hover{
  color: var(--white-color);
}
.team .team_member{
  background: var(--main-font-color-dark);
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: var(--white-color);  
  position: relative;
}

.team .team_member h3{
  color: var(--color);
  font-size: 26px;
  margin-top: 50px;
}
.team_member h3:hover{
  color: var(--white-color);
  cursor: pointer;
}

.team .team_member p.role{
  color: #fff;
  margin: 10px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--white-color);
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}
/*NAVIGATION*/
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  background: rgba(255, 255, 255, 0.952);
  transition: background 5s;
}
.menu {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	
}
.logo{
  margin-left: 5px;
}
.logo img{
  width: 140px;
}
nav ul li{
  display: inline-block;
  list-style: none;
}
nav ul a{
  text-decoration: none;
  padding: 15px;
color: #333;
font-family:'Poppins',sans-serif ;
font-size: 16px;
text-align: center;
text-transform: capitalize;
}
nav ul a:hover{
  background-color: rgba(0, 0, 0, 0.877);
  color: #fff; 
  border-radius: 25px;
  opacity: 0.9;
}
nav:hover{
  background-color: rgba(51, 51, 51, 0.514);
  color: var(--white-color);
}
.nav-button {
  list-style: none;
  text-decoration: none;
  color: #000; 
  border-radius: 6px;
  font-size: 15px;
  margin-right: 5px;
  text-transform: capitalize;
}
.nav-button:hover{
    background-color:rgba(0, 0, 0, 0.808);
    color: #fff; 
    border-radius: 25px;
    padding: 10px;
  }
  .flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 4rem;
  }
#content-box{
  background-color: var(--body-font-color);
  color:var(--white-color);
 padding: 1rem;
 line-height: 1.1;
  }
  #content-box h4{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin: 7px;
  }
  #content-box p{
    font-family:'Poppins',sans-serif ;
    text-transform: capitalize;
    font-size: 16px;
    padding: 4px;
    margin: 5px;
  }
  span{
    font-size: 16px;
    font-family: var(	--headings-font);
    font-weight: 400;
    font-style: bold;
    text-transform: capitalize;
    margin: 3px;
  }
  .flex-container i{
    color: orange;
  }
  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 4rem;
  }
  .flex img{
    width: 90px;
    margin: 6px;
  }
  .flex > div {
    border: 1px solid rgb(135, 133, 133);
    box-shadow: 0 3px 5px rgba(116, 112, 112, 0.63);
    box-sizing: border-box;
    transition: 0.6s ease-out;
    width: 50%;
  }
  .flex h4{
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;
    font-family: var(	--headings-font);
  }
  .flex img{
    width: 90px;
  }
  .flex p{
    font-family:var(--secondary-font) ;
    text-transform: capitalize;
    font-size: 15px;
    padding: 5px;
  }
  #container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem;
    gap: 1rem;
  }
  .card img{
    width: 100%; 
    margin-top: 5px;
  }
  .card{
    padding: 15px;
    box-shadow: 0 3px 5px rgba(101, 96, 96, 0.575);
  }
  .card h5{
    padding: 5px;
    margin: 5px;
    text-transform: uppercase;
    font-family: var(	--secondary-font);
    font-weight: 300;
    font-size: 15px;
  }
  .card-text h6{
    padding: 5px;
    margin-left: 3px;
    text-transform: capitalize;
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 20px;
  }
  
  .card-text p{
    font-size: 16px;
    font-family:var(	--secondary-font) ;
    margin: 12px;
    text-transform: capitalize;
  }
  .card-text a{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
    text-transform:capitalize ;
  }
  .card-text a:hover{
    background-color: var(--body-font-color);
  }
  /*Agent Section */
.flex-container-1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 1em;
}
.card-content {
  border-radius: 5px;
  margin: 25px;
  padding: 10px;
  box-shadow: 0 10px 10px var(--body-font-color);
  width: 100%;
}
.card-content img{
  width: 90%;
  border: 3px solid var(--custom-color);
  object-fit: cover;
  margin: 8px;
  border-radius: 25px;
}
.card-content h3{
  font-family: var(--body-font);
    color:var(--body-font-color);
    font-size: 28px;
    font-weight: 300;
    margin: 3px;
    text-transform: capitalize;
}
.card-content p{
  font-size: 20px;
    font-family:'Poppins',sans-serif ;
    margin: 5px;
    text-transform: capitalize;
}
.card-content i{
  color: orange;
  margin: 10px;
}
.card-content i:hover{
  color: var(--custom-color);
  cursor: pointer;
}
.aboutMe{
  background: var(--custom-color);
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  margin-bottom: 10px;
  border-radius: 20px;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.hireMe{
  background: #7d2ae8;
  outline: none;
  border: none;
  color: var(--white-color);
  padding: 8px 22px;
  margin-bottom: 10px;
  border-radius: 20px;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}
 .hireMe:hover{
  background: #eee;
  color: #000;
}
.aboutMe:hover{
  background: #eee;
  color: #000;
}
/* BLOG */
.post-container{
  margin: 20px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.post{
  width: 300px;
  background: var(--white-color);
  color: var(--body-font-color);
  margin: 0 auto;
  box-shadow: 0 3px 5px rgba(0, 0, 0,.3);
  padding-bottom: 20px;
}
.image img{
height: 200px;
width: 100%;
max-width: 100%;
object-fit: cover;
}
.content{
  padding: 0 20px;
}
.date{
  margin: 10px 0;
  font-size: 17px;
  color: var(--body-font-color);
}
.date i{
  color: var();
  margin-right: 3px;
}
.date i:hover{
  color: var(--secondary-font-color);
}
.title{
  font-weight: 600;
  font-size: 22px;
  text-transform: capitalize;
  text-decoration: none;
  color: #333;
}
.content p{
  font-size: 16px;
  padding: 5px 0;
  margin: 5px;
  color: #666;
  font-family:'Poppins',sans-serif ;
  font-weight: 300;
}
.links{ 
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
  color: orange;
  padding: 5px;
  border-radius: 20px;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.links:hover{
  color: var(--body-font-color);
}
/* FOOTER */
footer{
  background-color: var(--main-font-color-dark);
  color: #fff;
  padding: 25px;
  line-height: 30px;
  margin-top: 30px;
  border-radius: 5px;
}
.footer-container a:hover {
  color: var(--custom-color);
}
.heading{
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 15px;
}
.footer-container{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.footer-container p{
  font-family: 'Cabin', sans-serif;
  font-weight: 200;
  text-transform: capitalize;
  margin: 3px;
  font-size: 15px;
}
.footer-container ul{
  list-style: none;
  margin: 3px;
  display: block;
}
.footer-container a{
  text-decoration: none;
  color: var(--white-color);
  text-transform: capitalize;
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
  font-weight: 200;
}
.paragraph{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-family:var(--body-font);
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: capitalize;
}
.newsletter-form {
  display: flex;
  justify-content: center;
    width: 100%;
    padding: 5px;
    position: relative;
}
.newsletter-input {
  max-width: 25rem;
  padding: 1rem;
  border: none;
  outline: none;
}
.newsletter-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color:var(--white-color);
  font-size: 1.6rem;
  padding: 1px 0.6rem;
  outline: none;
}
.newsletter-form-box {
  background-color:var(--white-color);
  border-radius: 0.4rem;
  display: flex;
  overflow-x: hidden;
}
footer i{
  color: var(--white-color);
  padding: 6px;
}
footer i:hover{
  color:hsl(228, 84%, 65%);
}
.para {
	font-size: 17px;
  font-weight: 200;
  letter-spacing: 2px;
	font-family: var(--body-font);
	margin-top: 10px;
}
.para:hover {
	color: var(--secondary-font-color);
  cursor: pointer;
}
/* MEDIA QUERIES */
@media screen and (min-width: 968px){
  .form{
    width: 44%;
    padding: 20px;
  }
  header{
    height: 80vh;
  }
  .select{
    margin:  3px;
    font-size: 16px;
    font-family:var(--secondary-font) ;
    text-transform: capitalize;
    height: 20px;
    outline: none;
  }
  .container{
    margin: 20px;
    max-width: 800px;
    line-height: 1.8;
  }
  .container h1{
    font-family: var(--main-font);
    color: var(	--white-color);
    font-size: 2rem;
    font-weight: 400;
    margin: 15px;
  }
  .container p{
    font-family:var(--secondary-font) ;
    font-size: 20px;
    color: #eee;
  }
}
@media screen and (max-width: 1000px){
header{
  height: 60vh;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 3rem;
}
#content-box{
background-color: var(--main-font-color-dark);
color:var(--white-color);
padding: 1rem;
}
#content-box h4{
  text-transform: uppercase;
  font-family: var(--secondary-font);
  color: var(--white-color);
  margin: 7px;
}
#content-box p{
  font-family:var(--body-font);
  text-transform: capitalize;
  font-size: 16px;
  padding: 4px;
  margin: 5px;
}
section{
  padding: auto;
  overflow: auto;
  max-width: 1300px;
}
img{
  max-width: 100%;
}
}
@media screen and  (max-width: 1200px){
  .container h1{
    font-size: 2rem;
  }
  .container p{
    font-size: 1.2rem;
  }
  nav li{
    padding: 5px;
  }
  img{
    width: 100%;
  }
  
}
@media screen and (max-width: 768px){
  section{
    padding: auto;
    overflow: auto;
    max-width: 1300px;
  }
  .form{
      background-color: var(	--white-color);
      width: 52% !important;
      border-radius: 25px;
    }
    .select{
      margin: 7px;
      font-size: 16px;
      font-family:var(--secondary-font) ;
      text-transform: capitalize;
    }
    .flex-container{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin: 1.2rem;
    }
    #content-box{
      background-color: var(--body-font-color);
      color:var(--white-color);
     padding: 10px;
      }
    #content-box h4{
      margin: 3px;
    }
    #content-box p{
      margin: 1px;
    }
    img{
      width: 100%;
    }

    header nav ul, header nav li .links{
        display: none;
    }
}
@media screen and (max-width: 450px){
  header nav ul, header nav .links{
      display: none;
  }
}
@media (max-width: 575.98px){
  img{
    width: 100%;
    max-width: 100%;
  }
  header{
    height: 60vh;
    width: 100vw;
  }
  .form{
    background-color: var(	--white-color);
    width: 70%;
    border-radius: 25px;
  }
}
